<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binzosoft.lib.video" >

    <application>
        <activity android:name=".VideoViewActivity" />
        <activity android:name=".ExoPlayerVideoActivity" />
        <activity android:name=".ExoPlayerAudioActivity" />
    </application>

</manifest>