<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binzosoft.lib.video">

    <application>
        <activity
            android:name=".VideoViewActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:theme="@style/video_AppTheme" />
        <activity
            android:name=".ExoPlayerVideoActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:theme="@style/video_AppTheme" />
        <activity
            android:name=".ExoPlayerAudioActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:theme="@style/video_AppTheme" />
    </application>

</manifest>